version: "3.8"

services:
  plex:
    image: lscr.io/linuxserver/plex:latest
    container_name: plex
    network_mode: host
    environment:
      PUID: 1000
      PGID: 1000
      TZ: America/Indiana/Indianapolis
    volumes:
      - /home/likeshadic/plex/config:/config
      - /home/likeshadic/plex/transcode:/transcode
      - /mnt/media/movies:/movies:ro
      - /mnt/media/tv:/tv:ro
    restart: unless-stopped